@charset "UTF-8";
:root {
  --font-primary: "Rubik";
  --font-secondary: "Druk Text Wide Web Medium Regular";
  --light-primary: #ffffff;
  --light-secondary: #b5b9bd;
  --middle-primary: #465059;
  --accedent-primary: #262b57;
  --transition-all: 0.3s all ease-in-out;
}

/* rubik-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-v28-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik/rubik-v28-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik/rubik-v28-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-v28-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-v28-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* rubik-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Rubik";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/rubik/rubik-v28-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-family: "Druk Text Wide Web Medium Regular";
  src: url("https://db.onlinewebfonts.com/t/3724259186746d86859fbb0fde0fa44a.eot");
  src: url("https://db.onlinewebfonts.com/t/3724259186746d86859fbb0fde0fa44a.eot?#iefix") format("embedded-opentype"), url("https://db.onlinewebfonts.com/t/3724259186746d86859fbb0fde0fa44a.woff2") format("woff2"), url("https://db.onlinewebfonts.com/t/3724259186746d86859fbb0fde0fa44a.woff") format("woff"), url("https://db.onlinewebfonts.com/t/3724259186746d86859fbb0fde0fa44a.ttf") format("truetype"), url("https://db.onlinewebfonts.com/t/3724259186746d86859fbb0fde0fa44a.svg#Druk Text Wide Web Medium Regular") format("svg");
}
a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
select.active.focus,
select.active:focus,
select.focus,
select:active.focus,
select:active:focus,
select:focus,
textarea.active.focus,
textarea.active:focus,
textarea.focus,
textarea:active.focus,
textarea:active:focus,
textarea:focus {
  outline: 0 !important;
  outline-color: transparent !important;
  outline-width: 0 !important;
  outline-style: none !important;
  box-shadow: 0 0 0 0 rgba(0, 123, 255, 0) !important;
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: var(--light-secondary) !important;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--light-secondary);
  border-radius: 20px;
  border: 3px solid var(--accedent-primary);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--accedent-primary) var(--light-secondary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Чем меньше значение альфа, тем более прозрачным будет фон */
  z-index: 9999; /* Поместите preloader поверх других элементов */
}

.preloader {
  background: url(../img/spinner.svg) no-repeat 50% 50%;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loaded .preloader-container {
  display: none;
}

.shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
.header.active {
  background-color: var(--light-primary);
}
.header.active .nav__link {
  color: var(--middle-primary);
}
.header.active .nav__link:hover {
  border-bottom: 2px solid var(--accedent-primary);
}
.header--blog {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: var(--light-primary);
}
.header--blog .nav__item:nth-child(2) .nav__link {
  border-bottom: 2px solid var(--accedent-primary);
}
.header--blog .nav__link {
  color: var(--middle-primary);
}
.header--blog .nav__link:hover {
  border-bottom: 2px solid var(--accedent-primary);
}
.header:hover {
  background-color: var(--light-primary);
}
.header:hover .nav__link {
  color: var(--middle-primary);
}
.header:hover .nav__link:hover {
  border-bottom: 2px solid var(--accedent-primary);
}

.nav__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 577.98px) {
  .nav__list {
    gap: 15px;
  }
}
.nav__item.active {
  border-bottom: 2px solid var(--accedent-primary);
}
.nav__link {
  font-size: 16px;
  font-family: var(--font-primary);
  color: var(--light-primary);
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: var(--transition-all);
}
.nav__link.active {
  color: var(--middle-primary);
}
.nav__link.active:hover {
  color: var(--middle-primary);
  border-bottom: 2px solid var(--accedent-primary);
  transition: var(--transition-all);
}

.text {
  font-size: 16px;
  font-family: var(--font-primary);
  color: var(--middle-primary);
}
.text--small {
  font-size: 14px;
  font-family: var(--font-primary);
  color: var(--middle-primary);
}
.text--light {
  color: var(--light-primary);
}
.text--big {
  font-size: 32px;
  font-family: var(--font-primary);
  color: var(--middle-primary);
}
@media (min-width: 578px) and (max-width: 991.98px) {
  .text--big {
    font-size: 28px;
  }
}
@media (max-width: 577.98px) {
  .text--big {
    font-size: 24px;
  }
}
.text--light {
  color: var(--light-primary);
}

.logo {
  display: flex;
  justify-content: flex-start;
  width: 100px;
  height: 25px;
  transition: var(--transition-all);
  margin-right: auto;
}
.logo.active {
  transition: var(--transition-all);
}
.logo__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 577.98px) {
  .logo {
    font-size: 18px;
  }
}

.hire {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px 60px;
  height: 100vh;
}
@media (max-width: 767.98px) {
  .hire {
    padding: 20px;
  }
}
.hire__img {
  background-image: url(../img/hire_img.webp);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.95;
  width: 800px;
  height: 410px;
}
@media (max-width: 767.98px) {
  .hire__img {
    width: 450px;
    height: auto;
  }
}
.hire__video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
.hire__video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(38, 43, 87, 0.3);
  z-index: 1;
}
.hire__video video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation: playVideo 10s linear infinite;
          animation: playVideo 10s linear infinite;
  filter: grayscale(100%);
}
@-webkit-keyframes playVideo {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1.06);
  }
}
@keyframes playVideo {
  from {
    transform: scale(1.05);
  }
  to {
    transform: scale(1.06);
  }
}

.promo {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  padding: 10vw 10vw;
  margin-top: 70px;
  height: 100%;
  background-image: url(../img/bg_promo.webp);
  background-size: contain;
  background-position: 60% 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
@media (max-width: 767.98px) {
  .promo {
    gap: 15px;
    background-position: 50% 100%;
    background-size: cover;
    overflow: hidden;
  }
}
.promo .text {
  width: 100%;
  max-width: 70%;
}

.gallery {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 5vw 10vw;
  width: 100%;
  height: 100%;
  background-color: var(--light-primary);
}
@media (max-width: 577.98px) {
  .gallery {
    padding: 10vw;
  }
}
.gallery__item {
  width: 300px;
  height: 300px;
  flex: 0 1 calc(25% - 15px);
}
@media (min-width: 578px) and (max-width: 991.98px) {
  .gallery__item {
    flex: 0 1 calc(50% - 15px);
  }
}
@media (max-width: 577.98px) {
  .gallery__item {
    flex: 1 1 calc(100% - 15px);
  }
}
.gallery__img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
  -o-object-fit: cover;
     object-fit: cover;
}

.title__main {
  font-size: 6vw;
  color: var(--light-primary);
  font-family: var(--font-secondary);
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
.title__main--classic {
  text-align: start;
}
.title__main--right {
  margin-left: 15%;
}
.title__main--color {
  color: var(--accedent-primary);
}
@media (max-width: 767.98px) {
  .title__main {
    font-size: 8vw;
  }
}
.title__secondary {
  font-size: 32px;
  color: var(--accedent-primary);
  font-family: var(--font-secondary);
  line-height: 1;
  text-transform: uppercase;
  max-width: 380px;
}
@media (max-width: 767.98px) {
  .title__secondary {
    font-size: 24px;
  }
}
.title__secondary--light {
  color: var(--light-primary);
}
.title__card {
  font-size: 24px;
  font-weight: 500;
  color: var(--middle-primary);
  font-family: var(--font-primary);
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 767.98px) {
  .title__card {
    font-size: 18px;
  }
}
.title__card--light {
  color: var(--light-primary);
}

.services {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  padding: 5vw 10vw;
  height: 100%;
  background-color: var(--light-primary);
}
@media (max-width: 577.98px) {
  .services {
    padding: 10vw;
  }
}
.services__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.services__header .text {
  max-width: 430px;
}
@media (max-width: 577.98px) {
  .services__header {
    flex-wrap: wrap;
  }
}
.services__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.services__item {
  width: 100%;
  flex: 1 1 calc(20% - 30px);
  min-height: 200px;
  padding: 20px;
  border: 1px solid var(--light-secondary);
  border-radius: 2px;
  background-color: var(--light-primary);
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .services__item {
    flex: 1 1 calc(33.3333333333% - 30px);
  }
}
@media (max-width: 577.98px) {
  .services__item {
    flex: 1 1 calc(100% - 30px);
  }
}
.services__item:hover {
  border: 1px solid var(--accedent-primary);
}
.services__item:hover a hr {
  background-color: var(--light-primary);
  border: none;
}
.services__item:hover a h3 {
  color: var(--light-primary);
}
.services__item:hover a p {
  color: var(--light-primary);
}
.services__item:hover.target {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_1.webp);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.services__item:hover.digital {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_2.webp);
}
.services__item:hover.smm {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_3.webp);
  background-size: cover;
  background-position: 40% 50%;
  background-repeat: no-repeat;
}
.services__item:hover.blockchain {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_4.webp);
}
.services__item:hover.business {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_5.webp);
}
.services__item:hover.cloud {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_6.webp);
}
.services__item:hover.devops {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_7.webp);
}
.services__item:hover.apps {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_8.webp);
}
.services__item:hover.qa {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_9.webp);
}
.services__item:hover.uiux {
  background-image: linear-gradient(to top, rgba(38, 43, 87, 0.85), rgba(38, 43, 87, 0.85)), url(../img/img_10.webp);
}
.services__link {
  display: flex;
  flex-direction: column;
  gap: 15px;
  text-decoration: none;
}
.services__link hr {
  width: 2.5vw;
  height: 2px;
  background-color: var(--accedent-primary);
  border: none;
}

.process {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  padding: 5vw 0 5vw 10vw;
  height: 100%;
  background-color: var(--middle-primary);
}
@media (max-width: 577.98px) {
  .process {
    padding: 10vw 0 10vw 10vw;
  }
}
.process__header {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .process__header {
    flex-wrap: wrap;
  }
}
.process__main {
  width: 100%;
  overflow: hidden;
}
.process__wrap {
  width: 100%;
}
.process__step {
  width: 400%;
  list-style: none;
  display: flex;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 577.98px) {
  .process__step {
    width: 450%;
  }
}
.process__step-item {
  width: 75%;
}
.process__card {
  width: 100%;
}
.process__card-list {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  list-style: none;
}
.process__card-item--small {
  width: 100%;
  flex: 1 1 calc(10% - 15px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5vw 5vw;
  border-bottom: 1px solid var(--light-primary);
}
.process__card-item--big {
  width: 100%;
  flex: 1 1 calc(90% - 15px);
}
.process__card-item--big .title {
  padding: 0 0 45px;
  font-size: 32px;
  font-family: var(--font-secondary);
}
@media (max-width: 577.98px) {
  .process__card-item--big .title {
    font-size: 21px;
  }
}
.process__card-item--big .text {
  font-size: 24px;
}
@media (min-width: 578px) and (max-width: 991.98px) {
  .process__card-item--big .text {
    font-size: 20px;
  }
}
@media (max-width: 577.98px) {
  .process__card-item--big .text {
    font-size: 16px;
  }
}
.process__footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 170px;
}
@media (max-width: 767.98px) {
  .process__footer {
    padding-right: 0;
  }
}
.process__nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 0;
}
@media (max-width: 767.98px) {
  .process__nav {
    flex-direction: column;
    padding-right: 10vw;
  }
}
.process__nav-item {
  width: 100%;
  flex: 1 1 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.process__nav-item.active {
  background-color: rgba(181, 185, 189, 0.15);
  border-top: 7px solid var(--accedent-primary);
}

.partners {
  display: flex;
  flex-direction: column;
  gap: 45px;
  position: relative;
  padding: 5vw 10vw;
  height: 100%;
  background-color: var(--light-primary);
}
@media (max-width: 577.98px) {
  .partners {
    padding: 10vw;
  }
}
.partners__header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
.partners__header .text {
  max-width: 430px;
}
@media (max-width: 767.98px) {
  .partners__header {
    flex-wrap: wrap;
  }
}
.partners__main {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .partners__main {
    flex-wrap: wrap;
  }
}
@media (max-width: 767.98px) {
  .partners__main {
    flex-wrap: wrap;
  }
}
.partners__list {
  width: 100%;
  flex: 1 1 calc(50% - 15px);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 45px;
  padding: 0 30px 0 0;
  border-right: 1px solid var(--light-secondary);
}
.partners__item {
  width: 100%;
  flex: 1 1 calc(33.3333333333% - 45px);
}
.partners__logo {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.partners__certification {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.partners__certificate {
  flex: 1 1 calc(50% - 15px);
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 15px 45px;
}
.partners__certificate-item {
  width: 100%;
  flex: 0 0 calc(25% - 45px);
}

.footer {
  padding: 3vw 10vw;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--middle-primary);
}
@media (max-width: 767.98px) {
  .footer {
    padding: 10vw;
    gap: 30px;
  }
}
.footer__header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}
@media (max-width: 767.98px) {
  .footer__header {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .footer__header .logo {
    margin: 0;
  }
}
.footer__list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
}
.footer__link {
  font-size: 16px;
  font-family: var(--font-primary);
  color: var(--light-primary);
  text-decoration: none;
  padding: 5px 0;
  border-bottom: 2px solid transparent;
  transition: var(--transition-all);
}
.footer__link.active {
  color: var(--middle-primary);
}
.footer__link.active:hover {
  color: var(--middle-primary);
  border-bottom: 2px solid var(--accedent-primary);
  transition: var(--transition-all);
}
.footer__text {
  font-size: 14px;
  font-family: var(--font-primary);
  color: var(--middle-primary);
  color: var(--light-secondary);
}
.footer__tel {
  font-size: 14px;
  font-family: var(--font-primary);
  color: var(--middle-primary);
  color: var(--light-secondary);
  text-decoration: none;
}
.footer__bottom {
  list-style: none;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}
@media (max-width: 767.98px) {
  .footer__bottom {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
}
.footer__bottom-item {
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (max-width: 767.98px) {
  .footer__bottom-item {
    text-align: center;
  }
}